In [8]:
L1 = [2]
print("L1",L1)
L1.append(L1)
print("L1 after append",L1)
print("L1[1] after append",L1[1])

L1 [2]
L1 after append [2, [...]]
L1[1] after append [2, [...]]

In [13]:
import copy
L1 = [2]
L2 = [L1, L1]
print("L2",L2)
L3 = copy.deepcopy(L2)
print("L3 deepcopy",L3)
L3[0].append(3)
print("L3 append",L3)

L2 [[2], [2]]
L3 deepcopy [[2], [2]]
L3 append [[2, 3], [2, 3]]

In [20]:
list(range(6))

[0, 1, 2, 3, 4, 5]

In [21]:
[[] for _ in range(10)]

[[], [], [], [], [], [], [], [], [], []]

In [22]:
L = [(x, y)
     for x in range(6) if x%2 == 0
     for y in range(6) if y%3 == 0]
print(L)

[(0, 0), (0, 3), (2, 0), (2, 3), (4, 0), (4, 3)]

In [23]:
[x for x in range(2, 100) if all(x % y != 0  for y in range(3, x))]

[2,
 3,
 4,
 5,
 7,
 11,
 13,
 17,
 19,
 23,
 29,
 31,
 37,
 41,
 43,
 47,
 53,
 59,
 61,
 67,
 71,
 73,
 79,
 83,
 89,
 97]

In [25]:
# list(range(2, 100))

In [26]:
def apply_to_each(L, f):
   """L жагсаалт, f функцаар
      L жагсаалтын элемент e бүрийг f(e) гэж хувьгана"""
   for i in range(len(L)):
      L[i] = f(L[i])
      
L = [1, -2, 3.33]
print('L =', L)
print('Apply abs to each element of L.')
apply_to_each(L, abs)
print('L =', L)
print('Apply int to each element of', L)
apply_to_each(L, int)
print('L =', L)
print('Apply squaring to each element of', L)
apply_to_each(L, lambda x: x**2)
print('L =', L)

L = [1, -2, 3.33]
Apply abs to each element of L.
L = [1, 2, 3.33]
Apply int to each element of [1, 2, 3.33]
L = [1, 2, 3]
Apply squaring to each element of [1, 2, 3]
L = [1, 4, 9]

In [27]:
list(map(str, range(10)))

['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']

In [28]:
for i in map(lambda x: x**2, [2, 6, 4]):
    print(i)

4
36
16

In [29]:
L1 = [1, 28, 36]
L2 = [2, 57, 9]
for i in map(min, L1, L2):
    print(i)

1
28
9

In [34]:
def custom_lambda(x, y):
    print(f"Raising {x} to the power of {y}")
    return x**y
def f(L1, L2):
    """L1, L2 lists of same length of numbers
    returns the sum of raising each element in L1
    to the power of the element at the same index in L2
    For example, f([1,2], [2,3]) returns 9"""
    if len(L1) != len(L2):
        raise ValueError("L1 and L2 must have the same length")
    # return sum(map(lambda a, b: a ** b, L1, L2))
    return sum(map(lambda a, b: custom_lambda(a, b), L1, L2))

# quick checks (uses existing L1, L2 if present in the notebook)
print(f([1, 2], [2, 3]))  # 9
# print(f(L1, L2))

Raising 1 to the power of 2
Raising 2 to the power of 3
9

In [36]:
2*[1,2]

[1, 2, 1, 2]

In [39]:
print('My favorite professor-\n-John G.   --rocks'.split())

['My', 'favorite', 'professor-', '-John', 'G.', '--rocks']

In [7]:
capitals = {'Франц': 'Парис', 'Итали': 'Ром', 'Япон': 'Киото'}
for key in capitals:
    print(key, 'улсын нийслэл бол', capitals[key])

Франц улсын нийслэл бол Парис
Итали улсын нийслэл бол Ром
Япон улсын нийслэл бол Киото

In [8]:
len(capitals)

3

In [49]:
cities = []
for val in capitals.values():
    cities.append(val)
print(cities, 'бол нийслэл хотууд')

print(type(capitals.keys()))
print(type(capitals.values()))

['Парис', 'Ром', 'Киото'] бол нийслэл хотууд
<class 'dict_keys'>
<class 'dict_values'>

In [50]:
cap_vals = capitals.values()
print(cap_vals)
capitals['Япон'] = 'Токио'
print(cap_vals)

dict_values(['Парис', 'Ром', 'Киото'])
dict_values(['Парис', 'Ром', 'Токио'])

In [51]:
for key, val in capitals.items():
    print(val, 'бол', key, 'улсын нийслэл')

Парис бол Франц улсын нийслэл
Ром бол Итали улсын нийслэл
Токио бол Япон улсын нийслэл

In [57]:
def get_min(d: dict) -> int:
    """Return the value in d whose key occurs first in the alphabet.
    Raises ValueError if d is empty.
    Example: {'x': 11, 'b': 12} -> 12
    """
    if not d:
        raise ValueError("d must be non-empty")
    return d[min(d)]

d = {'a': 11, 'b': 12}
print(get_min(d))
print(min(d))

11
a

In [1]:
# Create a dictionary with flight information using tuples as keys
flight_times = {
    ('UA123', 'Monday'): '10:30',
    ('UA123', 'Tuesday'): '10:45',
    ('DL456', 'Monday'): '11:15',
    ('DL456', 'Tuesday'): '11:30'
}

# Print arrival times for specific flights
print(f"UA123 Monday arrival: {flight_times[('UA123', 'Monday')]}")
print(f"DL456 Tuesday arrival: {flight_times[('DL456', 'Tuesday')]}")

# Demonstrate that lists can't be used as keys
try:
    invalid_dict = {['UA123', 'Monday']: '10:30'}
except TypeError as e:
    print("\nAttempting to use list as key:")
    print(f"TypeError: {e}")

UA123 Monday arrival: 10:30
DL456 Tuesday arrival: 11:30

Attempting to use list as key:
TypeError: unhashable type: 'list'

In [ ]:
number_to_word = {1: 'one', 2: 'two', 3: 'three', 4: 'four', 10: 'ten'}
word_to_number = {w: d for d, w in number_to_word.items()}
print(word_to_number)
word_to_number = {w: d for d, w in number_to_word.items() if d < 10}
print(word_to_number)

{'one': 1, 'two': 2, 'three': 3, 'four': 4, 'ten': 10}
{'one': 2, 'two': 4, 'three': 6, 'four': 8}

In [22]:
gen_code_keys = (lambda book, plain_text:(
    {c: str(book.find(c)) for c in plain_text}))
plain_text = 'no is no'
book = "Once upon a time, in a house in a land far away,"
print(gen_code_keys(book, plain_text))

book = "In a village of La Mancha, the name of which I have no desire to call to mind, there lived not long since one of those gentlemen that keep a lance in the lance-rack, an old buckler, a lean hack, and a greyhound for coursing."
print(gen_code_keys(book, plain_text))

encoder = (lambda code_keys, plain_text:
    ''.join(['*' + code_keys[c] for c in plain_text])[1:])

print(encoder(gen_code_keys(book, plain_text), plain_text))

{'n': '1', 'o': '7', ' ': '4', 'i': '13', 's': '26'}
{'n': '1', 'o': '13', ' ': '2', 'i': '6', 's': '57'}
1*13*2*6*57*2*1*13

In [24]:
encrypt = (lambda book, plain_text:
    encoder(gen_code_keys(book, plain_text), plain_text))
encrypt(book, plain_text)
type(encrypt)

function

In [ ]:
gen_decode_keys = (lambda book, cipher_text:
    {s: book[int(s)] for s in cipher_text.split('*')})

gen_decode_keys(book, '1*13*2*6*57*2*1*13')

I

{'1': 'n', '13': 'o', '2': ' ', '6': 'i', '57': 's'}

In [4]:
def fib(n):
   """n нь int >= 0
      n-ийн Фибоначчиг буцаана"""
   print('fib called with n =', n)
   if n == 0 or n == 1:
    return 1
   else:
      return fib(n-1) + fib(n-2)

def test_fib(n):
    for i in range(n+1):
        print('Фибоначчи', i, '=', fib(i))

test_fib(5)

fib called with n = 0
Фибоначчи 0 = 1
fib called with n = 1
Фибоначчи 1 = 1
fib called with n = 2
fib called with n = 1
fib called with n = 0
Фибоначчи 2 = 2
fib called with n = 3
fib called with n = 2
fib called with n = 1
fib called with n = 0
fib called with n = 1
Фибоначчи 3 = 3
fib called with n = 4
fib called with n = 3
fib called with n = 2
fib called with n = 1
fib called with n = 0
fib called with n = 1
fib called with n = 2
fib called with n = 1
fib called with n = 0
Фибоначчи 4 = 5
fib called with n = 5
fib called with n = 4
fib called with n = 3
fib called with n = 2
fib called with n = 1
fib called with n = 0
fib called with n = 1
fib called with n = 2
fib called with n = 1
fib called with n = 0
fib called with n = 3
fib called with n = 2
fib called with n = 1
fib called with n = 0
fib called with n = 1
Фибоначчи 5 = 8

In [5]:
fib(5)

fib called with n = 5
fib called with n = 4
fib called with n = 3
fib called with n = 2
fib called with n = 1
fib called with n = 0
fib called with n = 1
fib called with n = 2
fib called with n = 1
fib called with n = 0
fib called with n = 3
fib called with n = 2
fib called with n = 1
fib called with n = 0
fib called with n = 1

8

In [ ]:
def is_palindrome(s):
   """s нь тэмдэгт мөр
      Хэрэв s тэмдэгт мөрийн үсгүүд палиндром хэлбэртэй бол True, 
      эсрэг тохиолдолд False буцаана. Том үсэг болон үсэг биш  
      тэмдэгтүүдийг тооцохгүй."""
   
   def to_chars(s):
      s = s.lower()
      letters = ''
      for c in s:
        if c in 'abcdefghijklmnopqrstuvwxyz':
            letters = letters + c
      return letters

   def is_pal(s):
      if len(s) <= 1:
        return True
      else:
        return s[0] == s[-1] and is_pal(s[1:-1])
         
   return is_pal(to_chars(s))
is_palindrome('popop')

popop opop p
opo po o

True

In [43]:
def is_palindrome(s):
   """s нь тэмдэгт мөр
      Хэрэв s палиндром бол True, эсрэг тохиолдолд False буцаана.
       Цэг цэглэл, хоосон зай, том үсгүүдийг тооцохгүй."""
   
   def to_chars(s):
      s = s.lower()
      letters = ''
      for c in s:
        if c in 'абвгдеёжзийклмноөпрстуүфхцчшщъыьэюя':
            letters = letters + c
      return letters

   def is_pal(s):
      print(f'  is_pal функцийг "{s}" утгатай дуудав')
      if len(s) <= 1:
         print('  Суурь нөхцлөөс True буцаав')
         return True
      else:
         answer = s[0] == s[-1] and is_pal(s[1:-1])
         print(' ', s, 'тэмдэгт мөрөнд', answer, 'буцаав')
         return answer
         
   return is_pal(to_chars(s))

print('Шалгах: Харах')
print(is_palindrome('Харах'))
print('Шалгах: Хариах')
print(is_palindrome('Хариах'))

Шалгах: Харах
  is_pal функцийг "харах" утгатай дуудав
  is_pal функцийг "ара" утгатай дуудав
  is_pal функцийг "р" утгатай дуудав
  Суурь нөхцлөөс True буцаав
  ара тэмдэгт мөрөнд True буцаав
  харах тэмдэгт мөрөнд True буцаав
True
Шалгах: Хариах
  is_pal функцийг "хариах" утгатай дуудав
  is_pal функцийг "ариа" утгатай дуудав
  is_pal функцийг "ри" утгатай дуудав
  ри тэмдэгт мөрөнд False буцаав
  ариа тэмдэгт мөрөнд False буцаав
  хариах тэмдэгт мөрөнд False буцаав
False

In [48]:
def fib(x):
    """x нь int >= 0 бүхэл тоо
       x тооны Фибоначчи дарааллыг буцаана."""
    global num_fib_calls
    num_fib_calls += 1
    if x == 0 or x == 1:
        return 1
    else:
        return fib(x-1) + fib(x-2)

def test_fib(n):
    for i in range(n+1):
        global num_fib_calls
        num_fib_calls = 0
        print('Фибоначчи', i, '=', fib(i))
        print('fib функцийг', num_fib_calls, 'удаа дуудав.')

test_fib(6)

Фибоначчи 0 = 1
fib функцийг 1 удаа дуудав.
Фибоначчи 1 = 1
fib функцийг 1 удаа дуудав.
Фибоначчи 2 = 2
fib функцийг 3 удаа дуудав.
Фибоначчи 3 = 3
fib функцийг 5 удаа дуудав.
Фибоначчи 4 = 5
fib функцийг 9 удаа дуудав.
Фибоначчи 5 = 8
fib функцийг 15 удаа дуудав.
Фибоначчи 6 = 13
fib функцийг 25 удаа дуудав.

In [1]:
import calendar as cal
cal_english = cal.TextCalendar()
print(cal_english.formatmonth(2025, 11))

   November 2025
Mo Tu We Th Fr Sa Su
                1  2
 3  4  5  6  7  8  9
10 11 12 13 14 15 16
17 18 19 20 21 22 23
24 25 26 27 28 29 30

In [2]:
print(cal.LocaleTextCalendar(locale='fr_FR').formatmonth(2049, 3))
print(cal.LocaleTextCalendar(locale='pl_PL').formatmonth(2049, 3))
print(cal.LocaleTextCalendar(locale='da_DK').formatmonth(2049, 3))
print(cal.LocaleTextCalendar(locale='mn_MN').formatmonth(2049, 3))
list(cal.day_abbr)
list(cal.day_name)

     mars 2049
lu ma me je ve sa di
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31

    marzec 2049
po wt œr cz pt so ni
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31

     marts 2049
ma ti on to fr lø sø
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31

Ãóðàâäóãààð ñàð 2049
Äà Ìÿ Ëõ Ï? Áà Áÿ Íÿ
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31

['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']

In [3]:
import sys,locale 
print(sys.stdout.encoding, locale.getpreferredencoding())
locale.setlocale(locale.LC_ALL, 'mn_MN.UTF-8')

UTF-8 cp1252

'mn_MN.UTF-8'

In [4]:
print(cal.day_name[cal.weekday(2033, 7, 11)])

даваа

In [5]:
cal_mongolian = cal.TextCalendar()
print(cal_mongolian.formatmonth(2025, 11))

Арван нэгдүгээр сар 2025
Да Мя Лх Пү Ба Бя Ня
                1  2
 3  4  5  6  7  8  9
10 11 12 13 14 15 16
17 18 19 20 21 22 23
24 25 26 27 28 29 30

In [14]:
cal.monthcalendar(2025,11)

[[0, 0, 0, 0, 0, 1, 2],
 [3, 4, 5, 6, 7, 8, 9],
 [10, 11, 12, 13, 14, 15, 16],
 [17, 18, 19, 20, 21, 22, 23],
 [24, 25, 26, 27, 28, 29, 30]]

In [12]:
import calendar

# Get the calendar for a specific year and month
year = 2025
month = 11  # November

# monthcalendar returns a list of lists, where each inner list represents a week
# Days outside the specified month are represented by 0
cal_matrix = calendar.monthcalendar(year, month)

# Print the calendar matrix
print(f"Calendar for {calendar.month_name[month]} {year}:")
for week in cal_matrix:
    print(week)

Calendar for Арван нэгдүгээр сар 2025:
[0, 0, 0, 0, 0, 1, 2]
[3, 4, 5, 6, 7, 8, 9]
[10, 11, 12, 13, 14, 15, 16]
[17, 18, 19, 20, 21, 22, 23]
[24, 25, 26, 27, 28, 29, 30]

In [21]:
def find_scienceday(year):
    month = cal.monthcalendar(year, 11)
    if month[0][cal.SUNDAY] != 0:
        scienceday = month[3][cal.SUNDAY]
    else:
        scienceday = month[4][cal.SUNDAY]
    return scienceday
print('2011 онд', 'Шинжлэх ухааны ажилтны өдөр 11-р сарын',
      find_scienceday(2011), '-нд өдөр тохиосон')

2011 онд Шинжлэх ухааны ажилтны өдөр 11-р сарын 27 -нд өдөр тохиосон

In [24]:
from datetime import date

def shopping_days(year):
    """year бол тоо >= 1941
       тухайн жилд Наадам болон Шинэ жилийн баярын хооронд хэдэн өдөр 
       байгааг буцаана."""
    if year < 1941:
        raise ValueError("Year must be >= 1941")
    
    # Наадам: 7-р сарын 11
    naadam_date = date(year, 7, 11)
    # Шинэ жил: 1-р сарын 1 (дараагийн жил)
    new_year_date = date(year, 11, 26)
    
    # Тоолох өдөр
    delta = new_year_date - naadam_date
    return delta.days
print('2023 онд Наадам болон Шинэ жилийн баярын хооронд',
      shopping_days(2023), 'өдөр байна.')

2023 онд Наадам болон Шинэ жилийн баярын хооронд 138 өдөр байна.

In [4]:
def abs(x):
    """x бол int
       Хэрэв if x>=0 бол х, эсрэг тохиолдолд –x буцаана."""
    if x < -1:
        return -x
    else:
        return x
print(abs(-2))
print(abs(2))
print(abs(-1))

2
2
-1